@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* GLOBAL STYLES */

* {
    font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

@media (max-width: 700px) {
    .typewriter {
        max-width: 80vw;
        text-align: center;
    }
    .typewriter h1 {
        font-size: 24px;
        word-wrap: break-word;
        white-space: normal !important;
        overflow:visible !important;
        animation: none !important;
    }
    
    a {
        width: 200px;
    }
    
    .buttons {
        flex-direction: column;
        text-align: center;
    }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: black;
  font-weight: 500;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   /* Adjust as needed */
  margin-bottom: 25px;
  animation: 
    typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    transition: .3s ease-in-out;
}

.disclaimer {
    display: none;
}
a:hover {
    color: white;
    background-color: black;
}